
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'entity_bank_list' %}">
    bank Listing
    </a>
</p>
    
<table class="table">
    <tr><td>routing</td><td>{{ object.routing }}</td></tr>
    <tr><td>bank_name</td><td>{{ object.bank_name }}</td></tr>
    <tr><td>account</td><td>{{ object.account }}</td></tr>
    <tr><td>aba</td><td>{{ object.aba }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}